/* GENERAL STYLING*/
*{
	box-sizing: border-box;
}
body
{
	margin: 0px;
	padding: 0px;
	height: 100vh;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/*********Top block*********/
.top
{
/*	position: relative;
*/	width: 100%;
	height: 50%;
	min-height: 250px;
	max-height: 312px;
	background-image: url('back.png');
	background-position: center;
	background-size: cover;
}

.top_dec,.Budget
{
	font-size: 25px;
	text-align: center;
	padding: 10px;
	padding-bottom: 0px;
	color: white;
}
.Budget
{
	font-size: 30px;
	margin: 10px auto;
	font-size: 35px;
}

.income_block,.expense_block
{
	width: 83.33%;
	padding: 15px;
	margin: auto;
	background-color: white;
	margin-bottom: 10px;
	background-color: #FF5049;
}

.expense_block
{
	padding-right: 5px; 
}

.income_block
{
	margin-top: 20px;
	background-color: #28B9B5;
}

.right
{
	float: right;
}
.top p
{
	display: inline;
}

.income_dec,.expense_dec
{
	color: #444;
}

.income,.expense
{
	font-size: 20px;
	color: white;
}

.percentage
{
	padding: 1px;
	margin-left: 4px;
	font-size: 14px;
	padding: 3px;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
	border-radius: 3px;
}
/*******************Container*******************/
/*******Navigatiom bar for adding value*******/
.add_item
{
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: grey;
	vertical-align: middle;
	border-radius: 2px;
	background-color: #e0dfdf;
	border: 2px #bfbbbb;
}
.add_type
{
	width: 30px;
	height: 35px;
	font-size: 20px;
	vertical-align: middle;
	background-color: white;
	border-radius: 3px;
	border-style: none;
	margin-right: 5px;
}
.add_description
{
	border-radius: 3px;
	height: 35px;
	width: 40%;
	vertical-align: middle;
	border-style: none;
	margin-right: 5px;
}
.add_value
{
	border-radius: 3px;
	height: 35px;
	width: 70px;
	vertical-align: middle;
	border-style: none;
	margin-right: 5px;
}

button
{
	background-color: #e0dfdf;
	vertical-align: middle;
	padding: 0px;
	border: 0px;
}
.fa-check-circle-o
{
	font-size: 30px;
	color: #28B9B5;
}

.add_description:focus, .add_value:focus, .add_type:focus
{
	outline: none;
	border: 1px solid #28B9B5; 
}
.save_item:focus
{
	outline: none;
}

.save_item:active { transform: translateY(2px); }

/***********Content***********/

.container
{
	text-align: center;
}

.Income,.Expenses
{
	display: inline-block;
	width: 45%;
/*	max-width: 400px;
*/	text-align: left;
	color: #28B9B5;
/*	vertical-align: top;
*/}

.Expenses
{
	color: #FF5049;
}

.border
{
	border-bottom: solid 2px #bfbbbb;
}

.fields
{
	width: 100%;
	padding: 10px;
	font-weight: 600;
}
.fields p
{
	padding: 0px;
	margin: 0px;
	vertical-align: middle;
	display: inline-block;
}

.remove,.value
{
/*	float: right;
*/	font-size: 16px;
	background-color: white;
	vertical-align: middle;
}

.value .percentage
{
	border-radius: 2px;
	color: #FF5049;
	font-size: 14px;
	padding: 2px;
	background-color: #FFDAD9;
}
.remove
{
	display: none;
	outline: none;
	border: none;
}
.fields:hover .remove
{
	display: inline-block;
	transform: translateX(5px);
}
.remove i:active
{
	transform: translate(0px,2px);
}

/**************************Responsiveness**************************/

@media only screen and (min-width: 600px)
{
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.Income,.Expenses{margin: 10px 50px 0px 0px;}
	.top{height: 35%;}
	.add_type{width: 50px;}
	.add_description{width: 30%;}
	.add_value{width: 100px;padding-left: 20px;}
}
@media only screen and (max-width: 400px)
{
	.changeView
	{
		float: right;
		position: relative;
		bottom: 10px;
	}
}
@media only screen and (min-width: 400px)
{
	.remove,.value
	{
		float: right;
	}
}
