body,html
{
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
}
/***************************1 .Header ****************************/
.header
{
  position: relative;
  width: 100%;
  background-color: #212121;
  height: 170px;
}
.PASlogo
{
  padding: 10px 20px;
  width: 200px;
  height: 150px;
}

/************** 1.1 navigation bar ***************/
li
{ margin-right:4px;
  display: inline-block;
}
.nav-bar
{
  float: right;
  padding-top: 50px;
  padding-right: 20px;
}

li a
{ background-color:#373a40;
  padding: 10px 30px;
  text-decoration: none;
  color: #edc988;
  font-family: verdana,sans-serif;
  border-radius:5px;
}
li a:hover
{
  background-color: #686d76;
  border-radius:5px;
}
.active
{
  background-color: #cf7500;
  border-radius:5px;
}
ul
{
  list-style-type: none;
  padding: 0;
  text-align: right;
}
/********************** 2 footer*****************************/

h3
{
  color:#fff;
  font-size: .75rem;
  opacity:0.75;
}
.footer
{
  position: relative;
  width: 100%;
  background-color: #212121;
}
.footer hr
{  position: relative;
   border-top: solid 2px grey;
   opacity: 0.7;
   margin-bottom: 2px;
   width:90%;
   top:50px;
}
.after-line-footer-content
{ margin-top: 2%;
  text-align:center;
  margin: 3% auto 0;
  font-family: 'Montserrat', sans-serif;
}
.opening-timings
{
  text-align: justify;
  position: absolute;
  display: inline-block;
  color: white;
  margin-bottom:10px;
  right:39%;
}
.footer h2
{
  font-size: 1.8rem;
  font-family: 'Lobster', cursive;
}
.opening-timings p
{
font-family: 'Staatliches', cursive;
font-size: 1.2rem;
}

.address
{ position: absolute;
  display: inline-block;
  left:2%;
  color: white;
}
.address p
{
font-family: 'Staatliches', cursive;
font-size: 1.2rem;
}
.after-line-footer-content pre
{
  font-family: 'Montserrat', sans-serif;
}
.opening-timings h2
{
  color:#32e0c4;
  font-family: 'Oswald', sans-serif;
}
.address h2
{
  color:#32e0c4;
  font-family: 'Oswald', sans-serif;
}
/********************** 3 content *******************/
.content
{
  background-image: url("../Images/about-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: %;
  width: 95%;
  padding: 0px 2.5%;
}
.mang-img
{
  width: 25%;
  height: 25%;
  float:left;
  border-radius:7px;
  margin-bottom:2%;
}
.ex-mang-img
{
  width: 20%;
  height: 20%;
  float:left;
  border-radius:4px;
  margin-bottom:2%;
}
.item
{
 display: inline-block;
 position:relative;
 bottom:679px;
 margin:3%;
}
.caption
{
  color: black;
  display: block;
  position: absolute;
  bottom: 0;
  margin-top:10%;
  font-family: 'Anton', sans-serif;
  font-weight: lighter;
}
.Heading
{
  font-size:2.5rem;
  color: white;
  font-family: 'lobster' ,cursive;
  margin-top: 0;
  padding-top: 2%;
}
.head-cap
{
  color: white;
  font-family: 'lobster' ,cursive;
  font-size:1.2rem;
  margin-top: 2%;
}
.starting
{
  margin: 5% 20%;
  text-align:justify;
  color: white;
  font-family: 'Playball', cursive;
  font-size: 1.4rem;

}
.firstpara-header
{
  font-size: 2rem;
  margin-left: 10%;
  color: white;
  font-family: 'lobster' ,cursive;
}
.begin-text
{
  text-align: justify;
  font-size:1.3rem;
  color: white;
  display: inline-block;
  width: 50%;
  margin-left: 15%;
  font-family: 'Playball', cursive;

}
.miss-heading
{
  font-size: 2rem;
  margin:2% 10%;
  color: white;
  font-family: 'lobster' ,cursive;
}
