body,html
{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
}
/***************************1 .Header ****************************/
.header
{
  position: relative;
  width: 100%;
  background-color: #212121;
  height: 170px;
}
.PASlogo
{
  padding: 10px 10px;
  width: 200px;
  height: 150px;
}

/************** 1.1 navigation bar ***************/
li
{ margin-right:4px;
  display: inline-block;
}

.nav-bar
{
  float: right;
  padding-top: 50px;
  padding-right: 20px;
}

li a
{
  background-color:#373a40;
  padding: 10px 30px;
  text-decoration: none;
  color: #edc988;
  font-family: verdana,sans-serif;
  border-radius:5px;
}

li a:hover
{
  background-color: #686d76;
  border-radius:5px;
}

.active
{
  background-color: #cf7500;
  border-radius:5px;
}

ul
{
  list-style-type: none;
  padding: 0;
  text-align: right;
}
/******* form - section ********/
.form
{
  text-align: justify;
  position: absolute;
  top:32%;
  left:500px;
}
.form-bg
{
  position:relative;
  width:100%;
  opacity: 0.25;
}
.form-title
{
  text-align: center;
  margin-bottom:40px;
  font-size: 3rem;
  font-family: 'Lobster Two', cursive;

}
.comment-title
{
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-family: 'Lobster', cursive;
}
.label
{
  display: inline-block;
  font-family: 'Anton', sans-serif;
  font-size: 1.2rem;
  width:135px;
  text-align: right;
  color:black;
}

input[type=text],select,input[type=date],input[type=time] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}
input[type=text]:focus,input[type=date]:focus,input[type=time]:focus,select:focus, textarea:focus {
  border: 3px solid #cf7500;
}

input[type=submit] {
  background-color: #000;
  margin-top: 20px;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  height: 50px;
  font-family: verdana,sans-serif;
  font-weight:bold;
}
input[type=submit]:hover
{
  background-color: grey;
}

.button
{
  display: block;
  position: relative;
  top: 15px;
  text-align:center;
}


/********************** 3 footer*****************************/
h3
{
  color:#fff;
  font-size: .75rem;
  opacity:0.75;
}
.footer
{
  width: 100%;
  background-color: #212121;
}
.footer hr
{
  position: relative;
   border-top: solid 2px grey;
   opacity: 0.7;
   margin-bottom: 2px;
   width:90%;
   top:50px;
}
.after-line-footer-content
{ margin-top: 2%;
  text-align:center;
  margin: 3% auto 0;
  font-family: 'Montserrat', sans-serif;
}
.opening-timings
{
  text-align: justify;
  position: absolute;
  display: inline-block;
  color: white;
  margin-bottom:10px;
  right:39%;
}
.footer h2
{
  font-size: 1.8rem;
  font-family: 'Lobster', cursive;
}
.opening-timings p
{
font-family: 'Staatliches', cursive;
font-size: 1.2rem;
}

.address
{ position: absolute;
  display: inline-block;
  left:2%;
  color: white;
}
.address p
{
font-family: 'Staatliches', cursive;
font-size: 1.2rem;
}
.after-line-footer-content pre
{
  font-family: 'Montserrat', sans-serif;
}
.opening-timings h2
{
  color:#32e0c4;
  font-family: 'Oswald', sans-serif;
}
.address h2
{
  color:#32e0c4;
  font-family: 'Oswald', sans-serif;
}
