body,html
{
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
}
/***************************1 .Header ****************************/
.header
{
  position: relative;
  width: 100%;
  background-color: #212121;
  height: 170px;
}
.PASlogo
{
  padding: 10px 10px;
  width: 200px;
  height: 150px;
}

/************** 1.1 navigation bar ***************/
li
{ margin-right:4px;
  display: inline-block;
}

.nav-bar
{
  float: right;
  padding-top: 50px;
  padding-right: 20px;
}

li a
{
  background-color:#373a40;
  padding: 10px 30px;
  text-decoration: none;
  color: #edc988;
  font-family: verdana,sans-serif;
  border-radius:5px;
}

li a:hover
{
  background-color: #686d76;
  border-radius:5px;
}

.active
{
  background-color: #cf7500;
  border-radius:5px;
}

ul
{
  list-style-type: none;
  padding: 0;
  text-align: right;
}

/* ***********************1.2 Title Section********************** */
.title-box
{
  position: relative;
}
.title
{
    font-family: 'Playball', cursive;
    font-size: 2rem;
    text-align: center;
    position:absolute;
    top:10%;
    left:0;
    right:0;
}

.title-image
{
  width:100%;
  opacity: 0.65;
}
/***********************2 Carousel**************************/

.slideshow-container {
  position: relative;
  margin:1% auto 5% auto;
  background-color: black;
}
.text-about-deal
{ 
  font-family: 'Anton', sans-serif;
  position: absolute;
  color:#fff;
  right:10%;
  top:1%;
  font-size: 1.5rem;
  padding:5px 10px;
  Width:60%;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}







/********************** 3 footer*****************************/
h3
{
  color:#fff;
  font-size: .75rem;
}
.footer
{

  position: relative;
  width: 100%;
  max-height: 350px;
  height: 40%;
  min-height: 200px;
  background-color: #212121;
}
.footer hr
{
   border-top: solid 2px grey;
   opacity: 0.7;
   margin-bottom: 20px;
}
.after-line-footer-content
{
  text-align:center;

  margin: 3% auto 0;
  width:350px;
}
