*
{box-sizing: border-box;}

body,html
{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-color:#edc988;
}
.clearflix::after
{
  content: "";
  clear: both;
}
.section-break
{
  border: dotted #ffa372 6px;
  border-bottom: none;
  width: 10%;
  margin: 50px auto 50px auto;
}
/***************************1 .Header ****************************/
.header
{
  position: relative;
  width: 100%;
  background-color: #212121;
}
.PASlogo
{
  padding: 23px 0px 52px 10px;
  width: 11%;
  vertical-align: middle;
  min-width: 100px;
  height: auto;
}

.restaurant-name
{
  display: inline-block;
  color: white;
  vertical-align: middle;
  font-size: 5vw;
  font-family: 'lobster' ,cursive;
  margin: 0px;
  padding-right: 23px;
}
.change .bar1{
  -webkit-transform: rotate(-45deg) translate(-12px, 10px);
  transform: rotate(-45deg) translate(-12px, 10px);
  transition: transform 0.3s;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -6px);
  transform: rotate(45deg) translate(-8px, -6px);
  transition: transform 0.3s;
}

.menu-button
{
  display: none;
  float: right;
  margin: 40px 10px 10px 10px;
}
.menu-button:hover .menu-line
{
  background-color: #686d76
}
.menu-line
{
  width: 40px;
  height: 1px;
  margin: 0px 0px 7px 0px;
  background-color: #373a40;
  padding: 3px;
}
/************** 1.1 navigation bar ***************/
button
{
  background-color: #212121;
  color: #edc988;
  font-family: verdana,sans-serif;
  border: none;
  outline: none;
  font-size: 3vw;
  padding: 0px 19% 0px 0px;
}
.name
{
  font-size: 16px;
  margin: 2px 0px 0px 0px;
}

.active-button
{
  background-color: #edc988;
  color: #212121;
  border-radius:5px;
}
ul
{
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0px;
}
/* ***********************1.2 Title Section********************** */
.title-box
{
  position: relative;
}
.title
{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    text-align: center;
    position:absolute;
    top:10%;
    left:0;
    right:0;
    color:#d37815;
}

.title-image
{
  width:100%;
  /* opacity: 0.65; */

}
/***********************2 Carousel**************************/

.text-about-deal
{
  font-family: 'Staatliches', cursive;
  position: absolute;
  color:#ffda77;
  right:10%;
  top:1%;
  font-size: 1.2rem;
  padding:5px 10px;
  Width:60%;
  text-align: center;
}
.covid-text
{
  margin-left:4%
}
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none;}
/* img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {

  position: relative;
  background-color: #222222;
  margin: 4% 7% 0% 7%;
  border-radius: 7px;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #9ddfd3;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activ, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* reach us section */
.map iframe
{
  border-radius: 7px;
  float: left;
  overflow: hidden;
  border: 3px dotted #ffa372;
}

.map-reach-section
{
  position:relative;
  padding: 20px;
  height:80%;

}
.reach-us h2
{
  font-family: 'Lobster', cursive;
  text-align: center;
}
.reach-us
{
  text-align: justify;
  display: inline-block;
  margin: 6% 4% 7% 8%;
  font-family: 'Staatliches', cursive;
  font-size: 1.3rem;
  color: #d37815;
}
.reach-us p
{
  color:#333333;
}
.banner
{
  position: relative;
  width: 100%;
  height: 15rem;
  padding: 0;
  margin: 0;

}
.gallery-img h2
{
  position: relative;
  top: 180px;
  z-index: 1;
  font-family: 'lobster', cursive;
  text-align: center;
  font-size: 2.7rem;
  color: #d37815;
}
/********************** 3 footer*****************************/

h3
{
  color:#fff;
  font-size: 1.2vw;
  opacity:0.75;
  margin: 0px;
}
.footer
{
  text-align: center;
  width: 100%;
  background-color: #212121;
}
.footer hr
{
   border-top: solid 2px grey;
   opacity: 0.7;
   margin-bottom: 2px 0px;
   width:90%;
}
.after-line-footer-content
{
  text-align:center;
  font-family: 'Montserrat', sans-serif;
}

.opening-timings
{
  text-align: justify;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  color: white;
  width: 33%;
  margin-bottom:10px;
}
.footer h2
{
  font-size: 3vw;
  font-family: 'Lobster', cursive;
}
.opening-timings p
{
font-family: 'Staatliches', cursive;
font-size: 1.67vw;
margin: 0px 0px 1em 0px;
}

.address
{
  display: inline-block;
  width: 33%;
  vertical-align: top;
  text-align: center;
  color: white;
}
.address p
{
font-family: 'Staatliches', cursive;
font-size: 2vw;
margin: 0px 0px 1em 0px;
}
.after-line-footer-content pre
{
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}
.opening-timings h2
{
  color:#32e0c4;
  font-family: 'Oswald', sans-serif;
  margin: 5px 0px 1em 0px;
}
.address h2
{
  color:#32e0c4;
  font-family: 'Oswald', sans-serif;
  margin-top: 5px;
}
.links
{
  width: 31%;
  display: inline-block;
  padding-top: 14px;
}
.facebook,.insta,.linkedln
{
  padding: 5px;
}
a
{
  text-decoration: none;
  color: white;
}
.fa-linkedin-square,.fa-instagram,.fa-facebook-official
{
  font-size: 3vw;
  vertical-align: bottom
}
.link-des
{
  font-size: 2vw;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
  padding: 10px 0px 0px 1vw;

}
/******************************Responsiveness******************************/

@media only screen and (max-width: 600px)
{
  .col-xs-1 {width: 8.33%;}
  .col-xs-2 {width: 16.66%;}
  .col-xs-3 {width: 25%;}
  .col-xs-4 {width: 33.33%;}
  .col-xs-5 {width: 41.66%;}
  .col-xs-6 {width: 50%;}
  .col-xs-7 {width: 58.33%;}
  .col-xs-8 {width: 66.66%;}
  .col-xs-9 {width: 75%;}
  .col-xs-10 {width: 83.33%;}
  .col-xs-11 {width: 91.66%;}
  .col-xs-12 {width: 100%;}
  .content
  {
    background-image: url("../Images/about_us1/about_us_xs.jpg");
    background-size: 100% 100%;
  }
  .head-cap{font-size: 6vw;}
  .starting{font-size: 5vw;}
  .firstpara-header{font-size: 6vw;}
  .begin-text{font-size: 5vw;}
  .miss-heading{font-size: 6vw;}
  .begin-text{font-size: 5vw;}
  .footer h2{font-size: 5vw;}
  .address p{font-size: 4.5vw;}
  .opening-timings p{font-size: 4.5vw;}
  .fa-linkedin-square,.fa-instagram,.fa-facebook-official{font-size: 5vw}
  .link-des
  {
    font-size: 3vw;
    padding-left: 2vw
  }
  .salt-n-pepper-copyright{font-size: 9px;}
  .caption{font-size: 4vw;}
  .item
  {
    display: block;
    width: 100%;
  }
  .mang-img,.ex-mang-img
  {
    width: 40%;
  }
  .menu-button{display: block;}
  .name
  {
    font-size: 17px;
    display: inline-block;
    margin: 2px 0px;
    padding: 1px 10px;
    vertical-align: middle;
  }
  i{vertical-align: middle;}
  li
  {
    background-color: #373a40;
    border: 0.5px inset #5a6377;
  }
  button
  {
    font-size: 6vw;
    padding: 5px 0px;
    background-color: #373a40;
  }
  li:hover
  {
    background-color: #4f5258;
  }
  li:hover button{background-color: #4f5258;}
  .active-bar,.active-bar button,.active-bar:hover,.active-button:hover,.active-bar:hover button
  {
    background-color: #edc988;
    border-radius: 5px;
  }
  .display-class{display: none;}
  .PASlogo
  {
    padding: 23px 0px  38px 3px;
    width: 23%;
    min-width: 70px;
  }
  .restaurant-name{font-size: 8vw;}
  /*h3 pre{font-size: 3vw;}*/
}

@media only screen and (min-width: 601px) and (max-width: 768px)
{
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .content
  {
    background-image: url("../Images/about_us1/about_us_s.jpg");
    background-size: cover;
  }
  li
  {
    display: inline-block;
    margin-top: 28px;
    margin-right: 0px;

  }
  button{font-size: 3.5vw;}
  .name{font-size: 13px;}
  .nav-bar{float: right;}
  button:hover{color: #adadad;}
  .active-button:hover{color: #212121;}
}

@media only screen and (min-width: 769px) and (max-width: 992px)
{
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
  .content
  {
    background-image: url("../Images/about_us1/about_us_m.jpg");
    background-size: cover;
  }
  li
  {
    display: inline-block;
    margin-top: 37px;
  }
  .name {font-size: 15px;}
  .nav-bar{float: right;}
  button:hover{color: #adadad;}
  .active-button:hover{color: #212121;}
}
@media only screen and (min-width: 993px) and (max-width: 1200px)
{
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
  .content
  {
    background-image: url("../Images/about_us1/about_us_l.jpg");
    background-size: cover;
  }
  li
  {
    display: inline-block;
    margin-top: 41px;
  }
  .nav-bar{float: right;}
  .name {font-size: 15px;}
  button:hover{color: #adadad;}
  .active-button:hover{color: #212121;}
}


@media only screen and (min-width: 1201px)
{
  .col-xl-1 {width: 8.33%;}
  .col-xl-2 {width: 16.66%;}
  .col-xl-3 {width: 25%;}
  .col-xl-4 {width: 33.33%;}
  .col-xl-5 {width: 41.66%;}
  .col-xl-6 {width: 50%;}
  .col-xl-7 {width: 58.33%;}
  .col-xl-8 {width: 66.66%;}
  .col-xl-9 {width: 75%;}
  .col-xl-10 {width: 83.33%;}
  .col-xl-11 {width: 91.66%;}
  .col-xl-12 {width: 100%;}
  .content
  {
    background-image: url("../Images/about_us1/about_us_xl.jpg");
    background-size: cover;
  }
  li{
    display: inline-block;
    margin: 55px 19px 0px 10px;
  }
  button
  {
    font-size: 3.5vw;
    padding-right: 7%;
  }
  .nav-bar{float: right;}
  .name {font-size: 1vw;}
  button:hover{color: #adadad;}
  .active-button:hover{color: #212121;}
/*  li button.active-button button:hover{color: #212121;}
*/
}
