body,html
{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  line-height: 1.5;
}
/***************************1 .Header ****************************/
.header
{
  position: relative;
  width: 100%;
  background-color: #212121;
  height: 170px;
}
.PASlogo
{
  padding: 10px 10px;
  width: 200px;
  height: 150px;
}

/************** 1.1 navigation bar ***************/
li
{
  margin-right:4px;
  display: inline-block;
}

.nav-bar
{
  float: right;
  padding-top: 50px;
  padding-right: 20px;
}

li a
{
  background-color:#373a40;
  padding: 10px 30px;
  text-decoration: none;
  color: #edc988;
  font-family: verdana,sans-serif;
  border-radius:5px;
}

li a:hover
{
  background-color: #686d76;
  border-radius:5px;
}

.active
{
  background-color: #cf7500;
  border-radius:5px;
}

ul
{
  list-style-type: none;
  padding: 0;
  text-align: right;
}
/* menu - section */
.heading
{
  font-size: 2.4rem;
  font-family: 'Lobster', cursive;
  text-align: center;
}
.caption-head
{
  font-family: 'Playball', cursive;
  font-size: 1.5rem;
  text-align: center;
}
.headline-menu
{
  text-align: justify;
  margin: 7% 5%;
  font-size:1.5rem;
  font-family: 'Playball', cursive;

}
.main-heading-menu
{
    color: #333333;
    font-size: 1.45rem;
    font-family: 'Anton', sans-serif;
}
.bor img {
    border: 1px solid #4C0B0B;
    margin: 3px;
    padding: 3px;
}
.clear {
    clear: both;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}
td
{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Redressed', cursive;
    font-size: 1.1rem;
}
.read-more-text
{
  color: black;
}
