body
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: white;
}
/***************************1 .Header ****************************/
.header
{
  position: relative;
  background-color: #212121;
  height: 35%;
  min-height: 150px;
}
.PASlogo
{
  margin: auto 1% auto 2%;
  width:15%;
}

/************** 1.1 navigation bar ***************/
li
{ margin-right:4px;
  display: inline-block;
}
.nav-bar
{
  position:absolute;
  top:30%;
  right: 3%;
  width:60%;
  height: 35%;
}

li a
{ background-color:#373a40;
  padding: 10px 20px;
  text-decoration: none;
  color: #edc988;
  font-family: verdana,sans-serif;
  border-radius:5px;
}
li a:hover
{
  background-color: #686d76;
  border-radius:5px;
}
.active
{
  background-color: #cf7500;
  border-radius:5px;
}
ul
{
  list-style-type: none;
  padding: 0;
  text-align: right;
}
