body,html
{
  margin: 0px;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
}
/***************************1 .Header ****************************/
.header
{
  position: relative;
  width: 100%;
  background-color: #212121;
  height: 170px;
}
.PASlogo
{
  padding: 10px 10px;
  width: 200px;
  height: 150px;
}

/************** 1.1 navigation bar ***************/
li
{ margin-right:4px;
  display: inline-block;
}
.nav-bar
{
  float: right;
  padding-top: 50px;
  padding-right: 20px;
}

li a
{ background-color:#373a40;
  padding: 10px 30px;
  text-decoration: none;
  color: #edc988;
  font-family: verdana,sans-serif;
  border-radius:5px;
}
li a:hover
{
  background-color: #686d76;
  border-radius:5px;
}
.active
{
  background-color: #cf7500;
  border-radius:5px;
}
ul
{
  list-style-type: none;
  padding: 0;
  text-align: right;
}
/********************** 2 footer*****************************/

.footer
{
  position: relative;
  width: 100%;
  height: 30%;
  min-height: 200px;
  background-color: #212121;
}
.Hours
{

  float: left;
  width: 32%;
  padding: 40px 0px 20px 20px;
  color: white;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.Address
{
  float: left;
  width: 32%;
  padding: 40px 0px 20px 20px;
  color: white;
  letter-spacing: 1.5px;
  text-transform: capitalize;
}

.footer .PASlogo
{
  float: left;
  width: 23%;
  height: 100px;
  padding-top: 35px;
  padding-right: 50px;
  padding-left: 50px;
}

.line
{
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 5px;
  background-color: grey;
}

.copyright
{
  position: absolute;
  bottom: 10px;
  left: 40%;
  color: white;
  letter-spacing: 1.5px;
}
/********************** 3 content *******************/

.content
{
  background-image: url("about-bg.resized.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400%;
  width: 100%;
}